@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200&display=swap");

* {
	font-family: "Albert Sans", sans-serif;
	color: #fff;
}
body {
	background: url("/res/pexels-photo-3426361.jpeg") no-repeat;
	background-size: cover;
	backdrop-filter: blur(5px);
	overflow: auto;
	/* height: 100vh; */
}
.wrapper {
	min-height: 100vh;
}
header {
	padding: 30px 30px;
	background: #30313d;
	z-index: 99;
}
.site-name {
	font-size: 2em;
	text-decoration: none;
	font-weight: 400;
	user-select: none;
}
nav {
	text-align: right;
}

main,
aside,
footer {
	float: left;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

main {
	width: 80%;
}
aside {
	width: 20%;
}
footer {
	width: 100%;

	text-align: center;
}
#btn-menu:hover {
	background: #d3d3d3;
	color: #30313d;
}
.navigation a {
	text-decoration: none;
	position: relative;
	margin-left: 10px;
}
.navigation a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	border-radius: 4px;
	background-color: silver;
	bottom: 0;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}
.navigation a:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

#btn-menu {
	border: 1px solid #d3d3d3;
	border-radius: 8px;
	outline: 0;
	width: 110px;
	height: 45px;
	background: transparent;
	font-size: 1.2em;
	margin-left: 50px;
}
h2,
h3 {
	font-size: 1.2em;
}
h4::first-letter {
	color: dodgerblue;
}
@media only screen and (max-width: 620px) {
	/* For mobile phones: */
	main,
	aside {
		width: 100%;
	}
	.navigation a {
		position: relative;
		margin-left: 5px;
		font-size: 1em;
	}
	#btn-menu {
		font-size: 1em;
		margin-left: 25px;
	}
}
