@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200&display=swap");

* {
	font-family: "Albert Sans", sans-serif;
	color: #fff;
}
body {
	background: url("/res/pexels-photo-3426361.jpeg") no-repeat;
	background-size: cover;
	backdrop-filter: blur(5px);
	overflow: auto;
	min-height: 100vh;
}
.wrapper {
	min-height: 100vh;
}
header {
	height: 100px;
	padding: 2em;
	background: #30313d;
	z-index: 99;
}
.site-name {
	width: 30%;

	font-size: 2em;
	text-decoration: none;
	font-weight: 900;
	user-select: none;
	float: left;
}
.navigation {
	width: 70%;
	text-align: right;
	float: left;
}
main {
	width: 80%;
	float: left;
}
aside {
	width: 20%;
	float: left;
}
footer {
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
#btn-menu:hover {
	background: #d3d3d3;
	color: #30313d;
}
.navigation a {
	text-decoration: none;
	position: relative;
	margin-left: 10px;
}
.navigation a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 4px;
	background-color: silver;
	bottom: 0;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}
.navigation a:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

#btn-menu {
	border: 1px solid #d3d3d3;
	border-radius: 8px;
	outline: 0;
	width: 110px;
	height: 45px;
	background: transparent;
	font-size: 1.2em;
	margin-left: 50px;
}
h2,
h3 {
	font-size: 1.2em;
}
h4::first-letter {
	color: dodgerblue;
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: auto;
	grid-gap: 1rem;
}
.card-style-main {
	background-color: #000000;
	height: 600px;
	width: 500px;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	text-align: left;
	opacity: 80%;
	margin: 30px;
}
.card-content-main {
	padding: 15px;
	height: 100px;
	overflow-wrap: normal;
}
table {
	border-collapse: collapse;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), transparent);
	margin-top: 1em;
	margin-left: 1em;
	font-size: smaller;
}

th,
td {
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	padding-right: 1em;
	padding-left: 1em;
}

th {
	font-weight: bold;
	background: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent);
}
td {
	vertical-align: top;
}
@media only screen and (max-width: 620px) {
	.site-name,
	.navigation,
	main,
	aside {
		width: 100%;
	}
	#btn-menu,
	.navigation a {
		margin-left: 2px;
	}
}
